<div style="text-align:center">
    <h3>Basic Skills</h3>
</div>
<div style="text-align:left">
    <div *ngIf="basicSkills?.languages" class="lists">
        <h4>Languages :</h4>
        <div><b>Proficient :</b> {{basicSkills?.languages.proficient.join(', ')}}</div>
        <div><b>Familiar :</b> {{basicSkills?.languages.familiar.join(', ')}}</div>
        <div><b>Web Frameworks :</b> {{basicSkills?.languages.webFrameworks.join(', ')}}</div>
        <div><b>Mobile Frameworks :</b> {{basicSkills?.languages.mobileFrameworks.join(', ')}}</div>
    </div>
    <br>
    <div *ngIf="basicSkills?.software" class="lists">
        <h4>Software :</h4>
        <div><b>Databases :</b> {{basicSkills?.software.database.join(', ')}}</div>
        <div><b>Platforms :</b> {{basicSkills?.software.platforms.join(', ')}}</div>
    </div>
</div>