<div class="yui-u first">
    <h2>Skills</h2>
</div>
<div class="yui-u">

    <div class="talent">
        <h2>Programming Languages</h2>
        <p>{{basicSkills?.languages.proficient.join(', ')}} , {{basicSkills?.languages.familiar.join(', ')}}</p>
    </div>

    <div class="talent">
        <h2>Web & Mobile Frameworks</h2>
        <p>{{basicSkills?.languages.webFrameworks.join(', ')}} , {{basicSkills?.languages.mobileFrameworks.join(', ')}}</p>
    </div>

    <div class="talent">
        <h2>Databases And Operating Systems</h2>
        <p>{{basicSkills?.software.database.join(', ')}} , {{basicSkills?.software.platforms.join(', ')}}</p>
    </div>

</div>